.landing-page {

  .logo-container {
    width: 50%;
    height: 80%;
    animation:         grow-visible 5s;
    padding-left: 4rem;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.16);

    img {
      width: 100%;
      height: 100%;
    }
  }
  .landing-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //left: 0;
    position: fixed;
    top: 0;
    z-index: -1;
    background-color:  #f2f2f2;
  }

}

@keyframes grow-visible {
  from   { opacity: 0;  }
  to { opacity: 1;}
}
